
@{
    ViewBag.Title = "DogDirectory2";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/api2")
<script type="text/javascript">
    $(document).ready(function () {
        LoadDogList();
    })
</script>
<h2>Dog Directory 2.0</h2>
<h3>An Ajax Implementation with a better API</h3>
<span>This implementation uses my own api that provides a more user friendly API. The API returns strictly the data you need if the request is success full, or
    a 404 error if the API Call returns no data. This makes the front end Ajax calls simpler by allowing the Success and Error callbacks to be used and
    eliminates the need for boilerplate code to scrape the acutal data content (having to get the message from the dog.io API response).</span>
<div class="container container-fluid">
    <div class="row">
        <div id="DogListArea" class="col-xs-7">

        </div>
        <div id="ImageArea" class="col-xs-5">
            <span id="ErrorMessage"></span>
            <img src="" />
        </div>
    </div>
</div>
